{{define "attendanceForm"}}
    <div class="attendance-form">
        <form action="/user/attendance" method="POST">
            <button type="submit">Check-In</button>
        </form>
                
        <footer>
            Press the button to check in your attendance for the day
            <br>
            <em>*You will only be able to check-in using Ngee Ann Polytechnic WIFI.</em>
        </footer>
    </div>
{{end}}