{{define "index"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome Page</title>
        <link rel="stylesheet" type="text/css" href="./css/index.css">
    </head>
    <body>
    
    {{template "navBar"}}
    {{if not .User.ID}}
        {{template "loginForm"}}
    {{else}}
        {{template "main" .}}
    {{end}}

    </body>
    <script src="./scripts/script.js"></script>

    </html>
{{end}}