{{define "index"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome Page</title>
        <link rel="stylesheet" type="text/css" href="./css/index.css">
    </head>
    <body>
    
    {{template "navBar"}}
    {{if not .ID}}
        {{template "loginForm"}}
    {{else}}
        <h2>home page here <h2>
    {{end}}

    </body>
    </html>
{{end}}