<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>

<nav>Welcome to the Attendance taking app!</nav>

{{if not .ID}}
    {{template "login.gohtml"}}
{{else}}
    <h2>home page here <h2>
{{end}}

</body>
</html>