{{define "main"}}
    <main>
        <div id="main-header">
            <div id="name-display">
                {{if eq .User.ID "admin"}}
                    Administrator
                {{else}}
                    {{.User.First}} {{.User.Last}}
                {{end}}
            </div>
            <div id="main-header-right">
                <div id="time-box"></div>
                {{template "logoutForm"}}
            </div>
        </div>
    </main>
{{end}}