{{define "main"}}
    <main>
        <div id="main-header">
            <div>{{.First}} {{.Last}}</div>
            <div id="main-header-right">
                <div id="time-box"></div>
                {{template "logoutForm"}}
            </div>
        </div>
    </main>
{{end}}