* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100dvw;
}

body,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

input {
  padding: 0.25rem;
}

input::placeholder {
  font-style: italic;
}

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav-title {
  font-size: 2rem;
  font-weight: bold;
}

#nav-links-container {
  margin-top: 1rem;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

button {
  display: block;
  padding: 0.25rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid black;
  width: 100%;
}

#main-header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#time-box {
  font-size: 1rem;
}

#name-display {
  font-size: 1rem;
  font-weight: bold;
}

#registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 40dvh;
  padding-block: 1rem;
}

footer {
  color: rgb(95, 95, 95);
}
