* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100dvw;
}

body,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

input {
  padding: 0.25rem;
}

input::placeholder {
  font-style: italic;
}

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav-title {
  font-size: 2rem;
  font-weight: bold;
}

#nav-links-container {
  margin-top: 1rem;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

button {
  display: block;
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: 20px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 20px;
  width: 80%;
  background-color: #1877f2;
  color: whitesmoke;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.526);
}

#main-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
}

#registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 30dvh;
  padding-block: 1rem;
}

footer {
  text-align: center;
  color: rgb(95, 95, 95);
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 30dvh;
  margin-block: 1rem;
}

.attendance-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: 30dvh;
  margin-block: 1rem;
}

#upload-form,
#admin-overview,
#success-check-in {
  margin-block: 2rem;
}

#admin-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  border-radius: 20px;
  width: 80%;
  min-height: 60dvh;
  max-height: 60dvh;
  background-color: rgb(255, 254, 250);
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.526);
  overflow: scroll;
  gap: 3rem;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
}

#overview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  font-weight: bold;
}

.date-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#date-range-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#attendance-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  width: 100%;
  font-weight: 400;
  font-size: 0.9rem;
}

.attendance-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #139a6f;
  color: rgb(245, 245, 245);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.526);
}

.attendance-details {
  display: flex;
  min-width: 30%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.export-input {
  display: none;
}

#overview-form {
  margin-block-start: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
